h1 {
	text-align: center;
}

#chat-window {
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
	height: 50%;
	background-color: lightgrey;
}

#message-box, #message-send {
	margin: auto;
	width: 100%;
	padding: 10px;
}

form {
	margin: 0px;
}

.chat {
	width:40%;
	margin: auto;
	text-align: center;
	border: 2px solid black;
}

.message {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-left: 10px;
}